@model List<LessonModel>

<hr class="mt-0" />
<div class="row col-md-12">
    <div class="col-md-3 col-12 px-5 mt-1">
        <h1 class="fs-3 fw-normal ps-1">Branşlar</h1>
        @await Component.InvokeAsync("Categories")
    </div>
    <div class="col-md-9 col-12">
        <h1 class="fs-3 fw-normal">Dersler</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-primary" href="/lessons">Dersler</a></li>
                <li class="breadcrumb-item active text-dark" aria-current="page">@(ViewBag.SelectedCategoryName == null ? "Tüm Dersler" : @ViewBag.SelectedCategoryName)</li>
            </ol>
        </nav>
        @await Html.PartialAsync("_LessonsPartial", Model)

    </div>
</div>
