@model LoginViewModel
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/login-form-07/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3 class="text-center">Giriş Yap</h3>
                        </div>
                        <form asp-area=""
                            asp-controller="Account"
                            asp-action="Login"
                            method="post">
                            <div class="form-group first">
                                <label asp-for="UserName"></label>
                                <input type="text" asp-for="UserName" class="form-control">
                                <span class="text-danger" asp-validation-for="UserName"></span>

                            </div>
                            <div class="form-group last mb-4">
                                <label asp-for="Password"></label>
                                <input type="password" asp-for="Password" class="form-control">
                                <span class="text-danger" asp-validation-for="Password"></span>

                            </div>

                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0">
                                    <span class="caption">Beni Hatırla</span>
                                    @*<input type="checkbox" checked="checked" />*@
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="ml-auto"><a asp-area="" asp-controller="Account" asp-action="ForgotPassword" class="forgot-pass">Şifremi Unuttum</a></span>
                            </div>

                            <button type="submit" class="btn btn-block btn-primary">Giriş Yap</button>

                            <a class="d-block text-left my-4 text-center" asp-area="" asp-controller="Account" asp-action="Register">&mdash; Hesabın Yoksa Kaydol &mdash;</a>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



@section Styles{
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/login-form-07/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/login-form-07/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/login-form-07/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="~/login-form-07/css/style.css">
}

@section Scripts{
    <script src="~/login-form-07/js/jquery-3.3.1.min.js"></script>
    <script src="~/login-form-07/js/popper.min.js"></script>
    <script src="~/login-form-07/js/bootstrap.min.js"></script>
    <script src="~/login-form-07/js/main.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial");
}
