@model ReservationPageModel

<input type="hidden" id="teacherId" value="@Model.Teacher.Id" />
<input type="hidden" id="lessonId" value="@Model.LessonId" />
<div class="container-fluid px-0 px-sm-4 mx-auto">
    <div class="row justify-content-center mx-0">
        <div class="col-lg-10">
            <div class="card border-0">
                <form autocomplete="off">
                    <div class="card-header bg-dark">
                        <div class="mx-0 mb-0 row justify-content-sm-center justify-content-start px-1">
                            <input type="text" id="dp1" class="datepicker" placeholder="Tarih Seç" name="date" readonly onchange="getHoursByDate()">
                        </div>
                    </div>
                    <div class="card-body p-3 p-sm-5" id="reservationTimePartialDiv">
                        @await Html.PartialAsync("_ReservationTimePartial", new List<TeacherAvailabilityModel>())
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary mt-4" href="#" onclick="goToPayment()">Ödemeye Geç</a>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
    <script>
        $(document).ready(function () {

            $('.datepicker').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                startDate: '0d'
            });

        });

        function cellClick(id) {
            $('.cell').removeClass('select');
            $("#cell_" + id).addClass('select');
        }
        function getHoursByDate() {
            var dateStr = $("#dp1").val();
            var initial = dateStr.split('-');
            var date = [initial[1], initial[0], initial[2]].join('-')
            var teacherId = $("#teacherId").val();

            $("#reservationTimePartialDiv").load('@Url.Action("GetReservationTimePartial","Reservations")' + '?date=' + date + '&teacherId=' + teacherId);
        }
        function goToPayment(){
            var selected = $($(".select")[0]).data("id");
            var lessonId = $("#lessonId").val();
            var dateStr = $("#dp1").val();
            var initial = dateStr.split('-');
            var date = [initial[1], initial[0], initial[2]].join('-')
            window.location.href = '@Url.Action("CheckOut","Reservations")' + '?availabilityId=' + selected + '&lessonId=' + lessonId + '&date=' + date;
        }
    </script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container-fluid {
            padding-top: 120px !important;
            padding-bottom: 120px !important;
        }

        .card {
            box-shadow: 0px 4px 8px 0px #7986CB;
        }

        #dp1 {
            padding: 10px 20px !important;
            border: 1px solid #000 !important;
            border-radius: 10px;
            box-sizing: border-box;
            background-color: #616161 !important;
            color: #fff !important;
            font-size: 16px;
            letter-spacing: 1px;
            width: 180px;
        }

            #dp1:focus {
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border: 1px solid #512DA8;
                outline-width: 0;
            }

        ::placeholder {
            color: #fff;
            opacity: 1;
        }

        :-ms-input-placeholder {
            color: #fff;
        }

        ::-ms-input-placeholder {
            color: #fff;
        }

        button:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0;
        }

        .datepicker {
            background-color: #000 !important;
            color: #fff !important;
            border: none;
            padding: 10px !important;
        }

        .datepicker-dropdown:after {
            border-bottom: 6px solid #000;
        }

        thead tr:nth-child(3) th {
            color: #fff !important;
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 10px;
        }

        .dow, .old-day, .day, .new-day {
            width: 40px !important;
            height: 40px !important;
            border-radius: 0px !important;
        }

            .old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
                border-radius: 6px !important;
                background-color: #eee;
                color: #000;
            }

        .active {
            border-radius: 6px !important;
            background-image: linear-gradient(#90CAF9, #64B5F6) !important;
            color: #000 !important;
        }

        .disabled {
            color: #616161 !important;
        }

        .prev, .next, .datepicker-switch {
            border-radius: 0 !important;
            padding: 20px 10px !important;
            text-transform: uppercase;
            font-size: 20px;
            color: #fff !important;
            opacity: 0.8;
        }

            .prev:hover, .next:hover, .datepicker-switch:hover {
                background-color: inherit !important;
                opacity: 1;
            }

        .cell {
            border: 1px solid #BDBDBD;
            margin: 2px;
            cursor: pointer;
        }

            .cell:hover {
                border: 1px solid #3D5AFE;
            }

            .cell.select {
                background-color: #3D5AFE;
                color: #fff;
            }

        .fa-calendar {
            color: #fff;
            font-size: 30px;
            padding-top: 8px;
            padding-left: 5px;
            cursor: pointer;
        }
    </style>
}