 <!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-secondary p-0 pt-5 pe-2 align-items-end">

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0">
                
                <a class="fs-6 fs-xl-4 text-decoration-none" style="color:white;" href="index.html"><img src="~/little-squirrel-v1.0.0/public/assets/img/gallery/boyakalem.png" class="me-2" height="45" alt="logo" /><h2 class="d-inline text-white">BireBir Akademi</h2></a>
                <p class="text-light mt-2 ps-4"> <i class="fas fa-envelope me-3"> </i><a class="text-light" href="mailto:birebirakademi1@outlook.com">birebirakademi@outlook.com </a></p>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-2 order-sm-1">
                <h5 class="lh-lg fw-bold mb-2 text-light font-sans-serif">Topluluk</h5>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-200" href="#!">Partnerler</a></li>
                    <li class="lh-lg"><a class="text-200" href="#!">Blog</a></li>
                    <li class="lh-lg"><a class="text-200" href="#!">Öğrenme Merkezi</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
                <h5 class="lh-lg fw-bold text-light mb-2 font-sans-serif">Hakkında</h5>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-200" href="#!">Hakkında</a></li>
                    <li class="lh-lg"><a class="text-200" href="#!">Fiyatlandırma</a></li>
                    <li class="lh-lg"><a class="text-200" href="#!">Kariyer</a></li>
                    <li class="lh-lg"><a class="text-200" href="mailto:birebirakademi1@outlook.com">İletişim</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
                <h5 class="lh-lg fw-bold text-light mb-2 font-sans-serif">Daha Fazla</h5>
                <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-200" href="#!">Basın</a></li>
                    <li class="lh-lg"><a class="text-200" href="#!">Yatırımcılar</a></li>
                    <li class="lh-lg"><a class="text-200" href="#!">Haklar</a></li>
                    <li class="lh-lg"><a class="text-200" href="#!">Yardım</a></li>
                </ul>
            </div>
        </div>
        <p class="text-white text-start m-0">Tüm hakları saklıdır &copy; Birebir Akademi, 2023</p>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
