<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Private Class App</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/little-squirrel-v1.0.0/public/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/little-squirrel-v1.0.0/public/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/little-squirrel-v1.0.0/public/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/little-squirrel-v1.0.0/public/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="~/little-squirrel-v1.0.0/public/assets/img/favicons/manifest.json">
    @await RenderSectionAsync("Styles", required: false)
    <meta name="msapplication-TileImage" content="~/little-squirrel-v1.0.0/public/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="~/little-squirrel-v1.0.0/public/assets/css/theme.css" rel="stylesheet" />

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

        @await Html.PartialAsync("_NavbarPartial")

        @RenderBody()
       
        @await Html.PartialAsync("_FooterPartial")
       
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/little-squirrel-v1.0.0/public/vendors/popperjs/popper.min.js"></script>
    <script src="~/little-squirrel-v1.0.0/public/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/little-squirrel-v1.0.0/public/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.js?features=window.scroll"></script>
    <script src="~/little-squirrel-v1.0.0/public/vendors/fontawesome/all.min.js"></script>
    <script src="~/little-squirrel-v1.0.0/public/assets/js/theme.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
</body>

</html>