@model CategoryEditViewModel
@await Html.PartialAsync("_HamburgerPartial")

<h4 class="mt-5">Kategori Düzenleme</h4>
<hr />
<form asp-area="Admin"
      asp-controller="Categories"
      asp-action="Edit"
      method="post">
    <div class="row">
        <div class="col-5">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label fs-6" asp-for="Name"></label>
                        <input class="form-control" asp-for="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                </div>

            </div>

            <button type="submit" class="btn btn-primary btn-sm">Kaydet</button>

        </div>
    </div>

</form>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}